{% extends "template.view.html" %}
{% block body %}
    <h1>LOGIN</h1>
<div class = "container">
       <div class="wrapper">
           <form role="form" method="post" name="Login_Form" class="form-login">
               <h3 class="form-signin-heading">Login</h3>
               <hr class="colorgraph"><br>

               <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
               <input type="password" class="form-control" name="passwd" placeholder="Password" required=""/>

               <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Register" type="Submit">Login</button>
           </form>
       </div>
   </div>
{% endblock %} 